<component name="ArtifactManager">
  <artifact type="war" name="springEnterprise:war">
    <output-path>$PROJECT_DIR$/springenterprise/target</output-path>
    <root id="archive" name="springEnterprise.war">
      <element id="artifact" artifact-name="springEnterprise:war exploded" />
    </root>
  </artifact>
</component>