<component name="ArtifactManager">
  <artifact type="exploded-war" name="springenterprise:war exploded">
    <output-path>$PROJECT_DIR$/springenterprise/target/springEnterprise</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springenterprise" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.google.guava:guava:15.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springenterprise/target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springenterprise/web/Web" />
    </root>
  </artifact>
</component>