<component name="ArtifactManager">
  <artifact type="war" name="springtechmanual:war">
    <output-path>$PROJECT_DIR$/springtechmanual/target</output-path>
    <root id="archive" name="springtechmanual.war">
      <element id="artifact" artifact-name="springtechmanual:war exploded" />
    </root>
  </artifact>
</component>